<form class=" row g-3" [formGroup]="formGroup" *ngIf="formGroup">
  <!-- Organisation -->
  <div class="col-lg-4 mb-3">
    <label class="form-label" i18n="@@organisationName">Nom de l'organisation</label>
    <input type="name" name="contact-name" class="form-control" id="inputNameOrga" aria-describedby="NameOrga"
           formControlName="organization" [ngbTypeahead]="this.orgaAutoComplete"
    >
    <alk-form-error [control]="formGroup" field="organization"></alk-form-error>
  </div>

  <!-- Adresse mail -->
  <div class="col-lg-4 mb-3">
    <label class="form-label" i18n="@@MailAdress">Adresse mail</label>
    <input type="email" class="form-control" id="mailAdress" placeholder="nom@mail.com" name="contact-mail-address"
           formControlName="mail">
    <alk-form-error [control]="formGroup" field="mail"></alk-form-error>
  </div>

  <!-- Rôle -->
  <div class="col-lg-3 mb-3 ">
    <label class="form-label" i18n="@@Role">Rôle</label>
    <select class="form-control" aria-label="Default select example" name="contact-role" formControlName="role">
      <option selected [value]="undefined" disabled i18n="@@roleSélecion">Sélectionner un rôle</option>
      <option value="originator" i18n-title="@@poriginatorDescription" i18n="@@originator"
              title="Organisme qui a commandé la ressource.Acteur qui a été habilité à créer la ressource et qui a mis en place les moyens pour la constituer">
        A l’origine de
      </option>
      <option value="author"
              title="Organisme ou personne qui est auteur. Acteur qui dispose des droits moraux relatifs à la ressource">
        Auteur
      </option>
      <option value="distributor"  i18n-title="@@pdistributorDescription" i18n="@@distributor"
              title="Organisme qui distribue la ressource. Diffuseur de second niveau de la ressource">Distributeur
      </option>
      <option value="publisher"    i18n-title="@@ppublisherDescription" i18n="@@editorPublication"
              title="Organisme qui assure la publication de la ressource.">
        Editeur (publication)
      </option>
      <option value="processor"   i18n-title="@@pprocessorDescription" i18n="@@processor"
              title="Organisme qui a réalisé des traitements sur la ressource. Acteur qui est intervenu lors de la réalisation de la ressource">
        Exécutant
      </option>
      <option value="resourceProvider" i18n-title="@@presourceProviderDescription" i18n="@@resourceProvider"
              title="Organisme qui fournit la ressource. Acteur qui délivre physiquement la ressource, soit de manière directe au destinataire, soit par l’intermédiaire d’un diffuseur">
        Fournisseur
      </option>
      <option value="custodian"  i18n-title="@@pcustodianDescription" i18n="@@custodian"
              title="Acteur responsable de la gestion et de la mise à jour de la ressource">
        Gestionnaire
      </option>
      <option value="pointOfContact" i18n-title="@@pointOfContactDescription" i18n="@@pointOfContact"
              title="Organisme que l’on peut contacter pour avoir des renseignements détaillés sur la ressource. Acteur à contacter en premier lieu pour obtenir des informations relatives à la ressource">
        Point de contact
      </option>
      <option value="principalInvestigator" i18n-title="@@principalInvestigatorDescription" i18n="@@principalInvestigator"
              title="Personne clé pour obtenir des informations sur la ressource et les recherches conduites autour de la ressource Acteur qui a assuré la réalisation de la ressource,éventuellement en faisant appel à des co-traitants ou des sous traitants">
        Point de recherche
      </option>
      <option value="owner" i18n-title="@@ownerDescription" i18n="@@owner"
              title="Organisme qui est propriétaire de la ressource / Acteur qui détient les droits patrimoniaux de la ressource">
        Propriétaire
      </option>
      <option value="user" i18n-title="@@userDescription" i18n="@@user"
              title="Organisme qui utilise ou a utilisé la ressource">
        Utilisateur
      </option>
      <alk-form-error [control]="formGroup" field="role"></alk-form-error>
    </select>
    <alk-form-error [control]="formGroup" field="role"></alk-form-error>
  </div>

  <!-- Suppression -->
  <div class="col-lg-1 mb-3" >
    <label class="form-label" i18n="@deletion">Suppression</label>
    <div style="display: block">
      <button type="button" class="btn btn-outline-brand" (click)="remove()">
        <i class="fa fa-times"></i>
      </button>
    </div>
  </div>
</form>
