<div class="fade active show" role="tabpanel" *ngIf="this.contribution" >
  <div class="bg-white  p-3 p-lg-4">
    <div class="text-center">
      <span class="step-number">Étape 3</span>
      <h1>Modalités de diffusion</h1>
    </div>
    <div class="form-check" [formGroup]="contributionForm"  >
      <input class="form-check-input" type="checkbox" name="contribution-opendata" formControlName="openData" id="flexCheckDefault">
      <label class="form-check-label" >
        La donnée est Open Data
        <a class="tooltip-custom" data-bs-toggle="tooltip" data-bs-placement="right" title="Tooltip">
          <i class="fa-solid fa-circle-info ms-1"></i>
        </a>
        <small id="nameHelp" class="form-text">La donnée est en accès libre en visualisation et en téléchargement.</small>
      </label>
    </div>
  </div>
  <div class="bg-white  p-3 p-lg-4 mt-4">
    <h2 class="brand-separator text-center">Affectation des domaines / sous-domaines</h2>
    <alk-form-error [control]="contributionForm" field="subdomains"></alk-form-error>
    <ng-container *ngIf="this.contributionForm">
      <alk-rubric [rubricForm]="this.subdomainsForm" ></alk-rubric>
    </ng-container>
  </div>
  <div class="d-flex justify-content-end mt-4">
    <div>
      <button type="button" class="btn btn-outline-brand px-4 me-4" (click)="previousStep()" i18n="@@previuous">Précédent</button>
    </div>
    <div>
      <button type="button" class="btn btn-brand px-4" (click)="nextStep()" i18n="@@next">Suivant</button>
    </div>
  </div>
</div>
