<div class="fade active show" role="tabpanel" *ngIf="this.contribution" >
  <div class="bg-white p-3 p-lg-4">
    <div class="text-center">
      <span class="step-number" i18n="@@stepOne">Étape 1</span>
      <h1 i18n="@@dataOverview">Aperçu des données</h1>
      <p class="mb-4" i18n="@@overviewCheckSRID" *ngIf="!this.contribution.isTabular">
        Veuillez vérifier que le système de référence spatiale ainsi que les données récupérées sont valides.
      </p>
      <p class="mb-4" i18n="@@overviewCheckTabularData" *ngIf="this.contribution.isTabular">
        Veuillez vérifier que les données récupérées sont valides.
      </p>
    </div>
    <form class="row g-3" *ngIf="!this.contribution.isTabular" >
      <div class="mb-3 col-lg-12">
        <label  class="form-label" i18n="@@overwiewExtentSrid">Étendue (emprise géographique)</label>
        <ng-container *ngIf="!canDisplayMap" >
          <div class="visualiseur-loading">
            <i class="fas fa-circle-notch fa-2x fa-spin upload-icon icon-color-loading d-flex justify-content-center" aria-hidden="true"></i>
          </div>
        </ng-container>
        <ng-container *ngIf="canDisplayMap">
          <div id="main-map" class="col col-md4">
            <alk-ol-map class="visualiseur">
              <div id="main-map-container" class="visualiseur"></div>
              <div id="map-container"></div>
            </alk-ol-map>
          </div>
        </ng-container>
      </div>

    </form>
    <!-- bbox -->
    <form class="row g-3" [formGroup]="extentForm" *ngIf="extentForm">
      <div class="form-group col-md-3">
        <label >X min</label>
        <input  type="number" class="form-control" name="tile-cache-xmin" placeholder="X min"
                (change)="updateExtent()" formControlName="xmin">
        <alk-form-error [control]="extentForm" field="xmin"></alk-form-error>
      </div>
      <div class="form-group col-md-3">
        <label  >Y min</label>
        <input type="number" class="form-control" name="tile-cache-ymin" placeholder="Y min"
               formControlName="ymin" (change)="updateExtent()">
        <alk-form-error [control]="extentForm" field="ymin"></alk-form-error>
      </div>
      <div class="form-group col-md-3">
        <label >X max</label>
        <input type="number" class="form-control" name="tile-cache-xmax" placeholder="X max"
               formControlName="xmax" (change)="updateExtent()" >
        <alk-form-error [control]="extentForm" field="xmax"></alk-form-error>
      </div>
      <div class="form-group col-md-3">
        <label >Y max</label>
        <input type="number" class="form-control" name="tile-cache-ymax" placeholder="Y max"
               formControlName="ymax" (change)="updateExtent()">
        <alk-form-error [control]="extentForm" field="ymax"></alk-form-error>
      </div>
    </form>
    <form class="row g-3" [formGroup]="contributionForm">
      <div class="mb-3 col-lg-4">
        <label class="form-label" i18n="@@sourceCoding">Codage source</label>
        <select class="form-control" aria-label="Default select example"
                name="contribution-sourceEncoding" formControlName="sourceEncoding" >
          <ng-container *ngFor="let encodage of this.prodigeEncodage">
            <option [value]="encodage">{{encodage}}</option>
          </ng-container>
        </select>
        <alk-form-error [control]="contributionForm" field="sourceEncoding"></alk-form-error>
      </div>
    </form>
    <form class="row g-3">
      <div class="mb-3 col-12">
        <label class="form-label" i18n="@@attributeTable">Table attributaire</label>
      </div>
    </form>
    <form class="row g-3" [formGroup]="contributionForm">
      <div class="mb-3 col-12" >
        <p i18n="@@overviewArrayContentImport">
          Le tableau contient
          <strong>{{ this.contribution.fields.length }}&nbsp;champ{this.contribution.fields.length, plural, =0 {} =1 {} other {s}}</strong>
          et
          <strong>{{ this.totalEntities }}&nbsp;entité{this.totalEntities, plural, =0 {} =1 {} other {s}}</strong>.
          Sélectionnez les attributs que vous souhaitez importer.
        </p>
      </div>
      <ng-container *ngIf="this.contribution">
        <table class="table table-striped" formArrayName="fields" >
          <caption></caption>
          <thead>
          <tr>
            <th i18n="@@Name">Nom</th>
            <th i18n="@@Alias" *ngIf="!contribution.isTabular">
              Alias
              <i i18n-ngbTooltip="@@titleQueryField" ngbTooltip="Intitulé du champ lors de son interrogation" class="fa fa-info-circle"></i>
            </th>
            <th i18n="@@Description">
              Description
              <i  i18n-ngbTooltip="@@fullDescriptionField" ngbTooltip="Description complète du champ, intégrée au catalogue d'attributs"
                  class="fa fa-info-circle"></i>
            </th>
            <th i18n="@@Type">Type</th>
            <th i18n="@@Integrate">Intégré</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let fieldCtrl of this.fieldForm.controls; let i = index">
          <tr [formGroupName]="i">
            <td class="table-button-action" >
              {{fieldCtrl.value.name}}
            </td>
            <td class="table-button-action" *ngIf="!contribution.isTabular">
              <input type="text" formControlName="alias"  name="contribution-field-alias-{{i}}">
              <alk-form-error [control]="fieldCtrl" field="alias"></alk-form-error>
            </td>
            <td class="table-button-action" >
              <input type="text" formControlName="description" name="contribution-field-description-{{i}}">
            </td>
            <td class="table-button-action" >
              <select class="form-control" formControlName="type" name="contribution-field-type-{{i}}">
                <ng-container *ngFor="let type of this.prodigeTypeKeys">
                  <option [value]="type">{{this.prodigeType[type]}}</option>
                </ng-container>

              </select>
            </td>
            <td class="table-button-action" >
              <div class="form-check">
                <input type="checkbox" formControlName="selected" (change)="updateFields()"
                      class="form-check-input position-static" name="contribution-field-selected-{{i}}">
              </div>
            </td>
          </tr>
          </ng-container>
          </tbody>
        </table>
      </ng-container>
      <form class="row g-3">
        <div class="mb-3 col-12">
          <label class="form-label" i18n="@@attributeTablePreview">Aperçu de la table attributaire</label>
        </div>
      </form>
      <div class="mb-3 col-12" >
        <p i18n="@@overviewArrayContentImportPreview">
          Les 20 premières lignes du tableau sont affichées.
        </p>
      </div>
      <div class="contribution-tab-example">
        <alk-field-display [fields]="fieldDisplayData" [withValue]="true" [isTabular]="this.contribution.isTabular"
                           [admincartoDataId]="contribution.admincartoDataId" [contributionId]="contribution.id" [mapFile]="contribution.map"
                           [layerId]="contribution.layerName">
        </alk-field-display>
      </div>
    </form>
  </div>
  <div class="d-flex justify-content-end mt-4">
    <button type="button" class="btn btn btn-brand px-4" (click)="this.nextStep()" i18n="@@next">Suivant</button>
  </div>
</div>

