
<ng-container *ngIf="this.ctrlError as ctrlError">
  <ng-container *ngIf="ctrlError?.invalid && (ctrlError.touched || ctrlError.dirty)">
    <div class="alert-form form-text">
      <ng-container *ngFor="let error  of ctrlError.errors | keyvalue">
        <ng-container [ngSwitch]="error.key">
          <ng-container *ngSwitchCase="'email'">
            <p class="my-0 text-danger">Cette adresse mail n'est pas valide.</p>
          </ng-container>
          <ng-container *ngSwitchCase="'required'">
            <p class="my-0 text-danger">Ce champ est requis.</p>
          </ng-container>
          <ng-container *ngSwitchCase="'minlength'">
            <p class="my-0 text-danger">Ce champ doit contenir au moins {{ error.value['requiredLength'] }} éléments.
              ({{ error.value['actualLength']}} actuellement)</p>
          </ng-container>
          <ng-container *ngSwitchCase="'maxlength'">
            <p class="my-0 text-danger">Ce champ doit contenir au plus {{ error.value['requiredLength'] }} éléments.
              ({{ error.value['actualLength']}} actuellement)</p>
          </ng-container>
          <ng-container *ngSwitchCase="'max'">
            <p class="my-0 text-danger">Ce champ doit valoir au plus {{ error.value['max'] }}.
              ({{ error.value['actual']}} actuellement)</p>
          </ng-container>
          <ng-container *ngSwitchCase="'min'">
            <p class="my-0 text-danger">Ce champ doit valoir au moins {{ error.value['min'] }}.
              ({{ error.value['actual']}} actuellement)</p>
          </ng-container>
          <ng-container *ngSwitchCase="'pattern'">
            <ng-container *ngIf="error.value['requiredPattern'] as reqPattern">
              <p class="my-0 text-danger">Valeur invalide</p>
            </ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'uniqTableName'">
            <p class="my-0 text-danger">Nom de table déjà utilisé</p>
          </ng-container>
          <ng-container *ngSwitchCase="'checkDomain'">
            <p class="my-0 text-danger">Vous devez obligatoirement choisir un sous-domaine sur
              lequel vous possédez des droits d'administration :
              <ng-container *ngFor="let domain of this.managedSubdomains; let idx = index; ">
                {{domain.name}}
                <ng-container *ngIf="idx < this.managedSubdomains.length-1">, </ng-container>
              </ng-container>
            </p>
          </ng-container>
          <ng-container *ngSwitchCase="'badTableName'">
            <p class="my-0 text-danger">Nom de table déjà utilisé</p>
          </ng-container>
          <ng-container *ngSwitchCase="'tmpError'">
            <p class="my-0 text-danger">Le nom de table ne doit pas commencer par tmp_</p>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>
</ng-container>
