<ng-container *ngIf="this.fields">
  <table class="table table-striped"  >
    <caption></caption>
    <thead>
    <tr>
      <ng-container *ngFor="let field of this.fields | fieldFilter">
        <th >{{field.alias ? field.alias : field.name}}</th>
      </ng-container>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngIf="withValue">
      <ng-container *ngFor="let geoFeature of this.geoFeatures ; let i = index">
        <tr >
          <ng-container *ngFor="let field of this.fields | fieldFilter">
            <td>{{geoFeature.properties[field.name]}}</td>
          </ng-container>
        </tr>
      </ng-container>
    </ng-container>
    </tbody>
  </table>
</ng-container>
