<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Confirmation</h5>
    <button type="button" class="close" aria-label="Close"  (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <a class="nav-link btn btn-light" [href]="this.url['expertMode']"  i18n="@@checkInExpertMode">
      Vérifier en mode expert
    </a>
    <a class="nav-link btn btn-light  "  *ngIf="!isTabular" [href]="this.url['defaultRepresentation']"   i18n="@@ParameterDefaultRepresentation">
      Paramétrer la représentation par défaut
    </a>
    <a class="nav-link btn btn-light  "   [href]="this.url['importOtherDataset']"  i18n="@@importOtherDataset">
      Importer un autre jeu de données
    </a>
    <a class="nav-link btn btn-light  "   [href]="this.url['contributionList']"  i18n="@@ContributionList">
      Retourner à la liste des contributions
    </a>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close()"  i18n="@@Close">Fermer</button>
  </div>
</ng-template>
