
<form class="row g-3">
  <ng-container *ngFor="let rubrics of this.domainTree">
    <ng-container *ngIf="rubrics.ref.subDoamins.length > 0">
    <div class="col-lg-8 mb-3">
      <label class="form-label" >
       {{rubrics.name}}
      </label>
      <ng-multiselect-dropdown
              (onSelect)="onSelect($event)"
              (onDeSelect)="onDeSelect($event)"
              [settings]="dropdownSettings"
              [data]="rubrics.ref.subDoamins"
              [placeholder]="'Sélectionner'"
              [(ngModel)]="rubrics.ref.domainSelects"
              name="subdomain-select-{{rubrics.ref.id}}"
      >
      </ng-multiselect-dropdown>
    </div>
    </ng-container>
  </ng-container>
</form>
