/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "node_modules/bootstrap/scss/bootstrap";

/*=======================================================================
[Table of contents]
=========================================================================

# Typography
#	Navbar
#	Button
# Homepage
# Form
# Accordion
# Tooltip

==========================================================================*/

/*========================
=======Bootstrap v5.1=========
==========================*/

/*========================
=======Typography=========
==========================*/
/*** sytle.css ***/

$colors: (
        primary: #16427b,
        primary-constrast: #1e5ba9,
        secondary: #02b19f,
        secondary-light: #15b580,
        danger: #f03739,
        danger-dark: #c41a1c,
        warning: #ffa03b,
        warning-dark: #df7f19,
        light: #eeeeee,
        dark: #222,
);
main{
  min-height: 820px;
}

body{
  background-color: #fcf6f6;
  font-family: 'Noto Sans', sans-serif;
}

h1, h2{
  font-family: 'Lato', sans-serif;
}

p{
  word-wrap: break-word;
  font-size: 1.125rem;
}

.p-6{
  padding: 6rem;
}

.my-6 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.fs-16{
  font-size: 16px!important;
}

.border-dotted{
  border: 1px dashed #AEC7D5;
  border-radius: 0.2rem;
}

.brand-separator{
  padding: 1rem;
  background-color: #fcf6f6;
}

.bg-image{
  background-image:url(assets/image/banniere-dark.png);
}

.bg-brand{
  background-color: #cd525e;
}

/* badge */

.badge-word{
  background-color: #f0f0f0;
  color: #5c5c5c;
  font-weight: 500;
}

.badge-step{
  padding: .8rem 1rem;
  font-size: 1rem;
  border: 1px solid #f9c8cc;
  color:#cd525e;
}

.active .badge-step{
  background-color:#cd525e;
  color: #fff;
  border:none;
}

.badge-step-error{
  padding: .8rem 1rem;
  font-size: 1rem;
  border: 1px solid #f9c8cc;
  color:#fff;
  background-color:  map-get($colors, warning);
}

.active .badge-step-error{
  color: #fff;
  border:none;
  background-color:  map-get($colors, warning-dark)
}

/* list */

ul{
  margin-bottom: 0;
}

ul li i{
  color: #cc525d;
}

dt {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 10px;
}

/*========================
=======Navbar=========
==========================*/

.navbar{
  background-color: #f8f8f8;
  border-bottom: 1px solid #e7e7e7;
}

/*========================
=======Button=========
==========================*/

.btn-brand{
  color: #ffff;
  background-color: #cd525e;
}

.btn-brand:hover,
.btn-brand:focus {
  color: #ffff;
  background-color: #b51b2a;
}

.btn-outline-brand{
  color: #cd525e;
  border-color: #cd525e;
}

.btn-outline-brand:hover,
.btn-outline-brand:focus {
  color: #fff;
  background-color: #cd525e;
  border-color: #cd525e;
}

/*========================
=======Homepage=========
==========================*/

.img400{
  width: 400px;
}

.card-body{
  background-color: #fff;
  border-radius:.4rem;
  text-align: center;
}

.container-file-input{
  border: 2px dashed #AEC7D5;
  border-radius:.2rem;
  text-align: center;
  padding: 2rem;
}

.input-rules{
  background-color: #f3b8bed1;
  border-radius:.2rem;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 14px;
  color: #512c30;
}

.input-rules p{
  font-size: 0.875rem;
}

/*========================
=======Form=========
==========================*/

.card-custom{
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: .4rem;
}

.tab-content h1{
  font-size: 1.75rem;
  color: #324455;
  margin-bottom: 3rem;
}

.tab-content h2{
  font-size: 1.5rem;
  color: #324455;
  margin-bottom: 2rem;
}

.tab-content ul li{
  color: #606060;
  padding: 0.25rem 0;
}

.nav-pills{
  margin-bottom: 1rem;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link{
  background-color: #ffff;
  color: #cd525e;
}

.nav-pills .nav-link:hover{
  background-color: #fff4f4;
}

.nav-item .nav-link{
  color: #696a71;
}

.input-group-append {
  cursor: pointer;
}

.tab-content{
  padding: 2rem;
}

.tab-content p{
  font-size: 0.875rem;
  margin: 0 0 0.5rem 0;
  color: #606060;
}

.tab-content label{
  color: #324455;
  font-weight: 500;
}

.tab-content label i{
  color: #465f77;
}

.form-check-input:checked {
  background-color: #324455;
  border-color: #324455;
}

@media (max-width: 426px){
  .nav-pills{
    display: initial !important;
  }
  .tab-content{
    padding: .4rem;
  }
}

.step-number{
  font-size: 18px;
  color: #b4b1b1;
}

/*========================
=======Accordion=========
==========================*/

.tab-content .accordion h2 {
  margin-bottom: 0;
}

.accordion-button:not(.collapsed) {
  color: #324455;
  background-color: #fbfbfb;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

/*========================
=======Tooltip=========
==========================*/

.tooltip-custom{
  cursor: pointer;
}

.tooltip-custom:hover i{
  color: #1d72c9;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

/*========================
======= icon-color =========
==========================*/
.icon-color-error{
  color: red;
}

.icon-color-succes{
  color: green
}

.icon-color-loading{
  color: #606060;
}


.invalid-label {
  color: map-get($colors, warning) !important;
}


