<div class="fade active show" role="tabpanel" *ngIf="contribControl" id="topScrollError">
    <div class="bg-white  p-3 p-lg-4">
        <div class="row">
            <div class="col-12 col-lg-6 mx-auto">
                <div class="text-center">
                    <span class="step-number" i18n="@@stepFour">Étape 4</span>
                    <h1 i18n="@@SynthesisAndValidation">Synthèse et validation</h1>
                </div>
                <p class="fs-16" i18n="@@synthesisCongrulationDescription">
                    Félicitations ! Vous venez d'importer votre jeu de données et de compléter les informations
                    nécessaires à sa
                    publication.
                    Il ne vous reste plus qu'à :
                </p>
                <ul class="fa-ul">
                    <li i18n="@@lastAbstractCheck">
                        <span class="fa-li"><i class="fas fa-angle-right"></i></span>
                        Faire une dernière vérification grâce au résumé ci-dessous
                    </li>
                    <li i18n="@@synthesisCorrectNeed">
                        <span class="fa-li"><i class="fas fa-angle-right"></i></span>
                        Corriger si besoin les élèments erronés : accédez directement en cliquant sur l'étape ou cliquez
                        sur
                        "précédent"
                    </li>
                    <li i18n="@@validationAndPublishData">
                        <span class="fa-li"><i class="fas fa-angle-right"></i></span>
                        Valider et publier votre donnée
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-6 mx-auto mt-lg-0 text-center">
                <img alt="image.png" src="assets/image/image.png" width="400px" class="img-fluid">
            </div>
        </div>
        <div class="row p-0 p-lg-4 mt-4">
            <div class="col-12 col-lg-8 mx-auto border-dotted p-4">

                <h2 class="text-center">
                    {{ this.contribControl['title'].value }}
                </h2>

                <p class="text-center mb-4" i18n="@@CreationUpdate">
                    <em>Création : {{ this.contribControl['createDate'].value }} - Mise à jour
                        : {{ this.contribControl['updateDate'].value }}</em>
                </p>

                <dl class="row">
                    <dt class="col-sm-4" i18n="@@Description">
                        Description :
                    </dt>
                    <dd class="col-sm-8">
                        <p>
                            {{ this.contribControl['abstract'].value }}
                        </p>
                    </dd>

                    <dt class="col-sm-4" i18n="@@DataOrigin">
                        Origine de la donnée :
                    </dt>
                    <dd class="col-sm-8">
                        <p>
                            {{ this.contribControl['lineage'].value }}
                        </p>
                    </dd>
                    <ng-container *ngIf="!contribution.isTabular">
                        <dt class="col-sm-4" i18n="@@MapScaleData">
                            Échelle d'emploi de la donnée :
                        </dt>
                        <dd class="col-sm-8">
                            <p>{{ this.contribControl['equivalentScale'].value | scaleToLabel }}</p>
                        </dd>
                    </ng-container>
                    <dt class="col-sm-4" i18n="@@updateFrequency">
                        Fréquence de mise à jour :
                    </dt>
                    <dd class="col-sm-8">
                        <p>{{
                                this.updateCyle[this.contribControl['geonetworkStatus'].value]
                                    ? this.updateCyle[this.contribControl['geonetworkStatus'].value] : this.contribControl['geonetworkStatus'].value
                            }}</p>
                    </dd>
                    <dt class="col-sm-4" *ngIf="this.thematiquesIso">
                        Catégorie ISO :
                    </dt>
                    <dd class="col-sm-8" i18n="@@thematiqueIso">
                        <p>{{ this.contribControl['thematiqueISO'].value | thematiqueToLabel:this.thematiquesIso }}</p>
                    </dd>
                    <dt class="col-sm-4">
                        Contraintes de la ressource :
                    </dt>
                    <dd class="col-sm-8" i18n="@@mdContrainte">
                        <p>{{ this.contribControl['mdContrainte'].value | contrainteToLabel }}</p>
                    </dd>
                    <dt class="col-sm-4" *ngIf="this.mdMaintenance">
                        Fréquence de mise à jour de la ressource :
                    </dt>
                    <dd class="col-sm-8" i18n="@@mdMaintenance">
                        <p>
                            {{ this.contribControl['mdMaintenance'].value | maintenanceToLabel:this.mdMaintenance }}
                        </p>
                    </dd>
                    <dt class="col-sm-4" i18n="@@thematicKeyWord">
                        Mots clés thématiques :
                    </dt>
                    <dd class="col-sm-8">
                        <p>
                            <ng-container *ngFor="let themes of this.selectedThemes">
                                <span class="badge rounded-pill badge-word">{{ themes.displayValue }}</span>
                            </ng-container>
                        </p>
                    </dd>
                    <dt class="col-sm-4" i18n="@@localisationKeyWord">
                        Mots clés de localisation :
                    </dt>
                    <dd class="col-sm-8">
                        <ng-container *ngFor="let place of this.selectedPlace">
                            <span class="badge rounded-pill badge-word">{{ place.displayValue }}</span>
                        </ng-container>
                    </dd>

                    <dt class="col-sm-4" i18n="@@Contact" *ngIf="this.contacts">
                        Contact{contacts.length, plural, =0 {} =1 {} other {s}} :
                    </dt>
                    <dd class="col-sm-8">
                        <p>
                            <ng-container *ngFor="let contact of contacts">
                                {{ contact['organization'] }} / {{ contact['mail'] }}
                                /{{ contact['role'] | roleToLabel:this.roleCodes }} <br>
                            </ng-container>
                        </p>
                    </dd>
                </dl>


                <ngb-accordion>

                    <ngb-panel (shown)="onMapShow()" title="Étendue (emprise géographique)"
                               i18n-title="@@ExtentGeographicExtent" *ngIf="!contribution.isTabular">
                        <ng-template ngbPanelContent>
                            <ng-container *ngIf="!canDisplayMap">
                                <div class="visualiseur-loading">
                                    <i class="fas fa-circle-notch fa-2x fa-spin upload-icon icon-color-loading d-flex justify-content-center"
                                       aria-hidden="true"></i>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="canDisplayMap">
                                <div id="main-map" class="col col-md4">
                                    <alk-ol-map class="visualiseur">
                                        <div id="main-map-container" class="visualiseur"></div>
                                        <div id="map-container"></div>
                                    </alk-ol-map>
                                </div>
                            </ng-container>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel title="Tableau (champs)" i18n-title="@@TableFieldsEntity">
                        <ng-template ngbPanelContent>
                            <div class="overflow-auto field-table">
                                <dl class="row">
                                    <dt class="col-sm-3">
                                        <strong>Nom</strong>
                                    </dt>
                                    <dd class="col-sm-3" *ngIf="!contribution.isTabular">
                                        <strong>Alias</strong>
                                    </dd>
                                    <dd class="col-sm-4">
                                        <strong>Description</strong>
                                    </dd>
                                    <dd class="col-sm-2">
                                        <strong>Type</strong>
                                    </dd>
                                </dl>
                                <ng-container *ngFor="let field of this.fieldDisplayData | fieldFilter">
                                    <dl class="row">
                                        <dt class="col-sm-3">
                                            {{ field.name }}
                                        </dt>
                                        <dd class="col-sm-3" *ngIf="!contribution.isTabular">
                                            <p>
                                                {{ field.alias }}
                                            </p>
                                        </dd>
                                        <dd class="col-sm-4">
                                            <p>
                                                {{ field.description }}
                                            </p>
                                        </dd>
                                        <dd class="col-sm-2">
                                            <p>
                                                {{ this.prodigeType[field.type] }}
                                            </p>
                                        </dd>
                                    </dl>
                                </ng-container>
                            </div>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel title="Modalités de diffusion">
                        <ng-template ngbPanelContent>
                            <ng-container *ngIf="this.contribControl['openData'].value">
                                <p class="mb-4" i18n="@@dataIsOpenData">
                                    La donnée est <strong>Open Data</strong>.
                                </p>
                            </ng-container>
                            <dl class="row">
                                <ng-container *ngFor="let rubrics of this.domainTree">
                                    <ng-container *ngIf="rubrics.ref.domainSelects.length > 0">
                                        <dt class="col-sm-4">{{ rubrics.name }} :</dt>
                                        <dd class="col-sm-8">
                                            <p>
                                                {{ rubrics.ref.domainSelects | domainsToLabel }}
                                            </p>
                                        </dd>
                                    </ng-container>
                                </ng-container>
                            </dl>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end mt-4">
        <div>
            <button type="button" class="btn btn-outline-brand px-4 me-4" (click)="previousStep()" i18n="@@previuous">
                Précédent
            </button>
        </div>
        <div>
            <button type="button" class="btn btn btn-brand px-4" [disabled]="!this.isValid || this.isLoading"
                    (click)="sendData()">
                Valider et publier votre donnée
                <ng-container *ngIf="this.isLoading">
                    <i class="fas fa-circle-notch fa-spin upload-icon icon-color-loading" aria-hidden="true"></i>
                </ng-container>
            </button>
        </div>
    </div>
</div>
<alk-modal-end-popin #modalEndPopin></alk-modal-end-popin>
