<div class="modal-header">
  <h5 class="modal-title">Confirmation</h5>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>{{message}}</p>
</div>
<div class="modal-footer">
  <button (click)="onClickDelete()" type="button" class="btn btn-danger">Valider</button>
  <button (click)="onClickCancel()" type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
</div>
