<footer class="mb-auto">
  <nav class="navbar nav-color">
    <div class="container-fluid">
      <div class="d-flex justify-content-start">
        {{plateformName}} – Module contribution
      </div>
    </div>
  </nav>
</footer>

