<div class="fade active show" role="tabpanel" *ngIf="this.contribution">
    <div class="bg-white p-3 p-lg-4">
        <div class="text-center">
            <span class="step-number" i18n="@@stepTwo">Étape 2</span>
            <h1 i18n="@@generalInformation">Informations générales</h1>
        </div>

        <form class="row g-3" [formGroup]="contributionForm">
            <div class="col-lg-8 mb-3">
                <label class="form-label" i18n="@@finalTableName">
                    Nom final de la table <span class="required">*</span>
                </label>
                <p i18n="@@informationUniqNameSave">
                    Ce nom <strong>unique</strong> est celui qui est enregistré en base de données et obtenu par
                    l’utilisateur lors du téléchargement.
                </p>

                <input type="name" class="form-control" formControlName="table"
                       name="input-table-name" id="input-table-name" aria-describedby="nameHelp">
                <alk-form-error [control]="contributionForm" field="table"></alk-form-error>
                <small id="nameHelp" class="form-text text-muted" i18n="@@informationUnderscoreSperator">
                    Les mots doivent être séparés par des underscores. Les caractères spéciaux, les accents, les
                    majuscules et les tirets sont proscrits.
                </small>


            </div>
            <div class="col-lg-8 mb-3">
                <label class="form-label" i18n="@@Title">
                    Titre<span class="required">*</span>
                </label>
                <p i18n="@@informationCatalogueUniqName">
                    Ce nom apparaitra dans le catalogue. Il doit être <strong>unique</strong>,
                    <strong>caractéristique</strong> et <strong>pertinent</strong>.
                </p>
                <input type="name" name="input-contribution-title" formControlName="title" class="form-control"
                       id="inputName">
                <alk-form-error [control]="contributionForm" field="title"></alk-form-error>
            </div>
            <div class="col-lg-12 mb-3">
                <label class="form-label" i18n="@@Description">
                    Description<span class="required">*</span>
                </label>
                <p i18n="@@informationLitleRessourceSummary">
                    Court résumé explicatif du contenu de la ressource.
                </p>
                <textarea class="form-control" id="FormControlTextarea" name="input-abstract" rows="2"
                          formControlName="abstract"></textarea>
                <alk-form-error [control]="contributionForm" field="abstract"></alk-form-error>
            </div>
            <div class="col-lg-12 mb-3">
                <label class="form-label" i18n="@@dataOrigin">Origine de la donnée
                    <a class="tooltip-custom" data-bs-toggle="tooltip" data-bs-placement="right" title="Tooltip">
                        <i class="fa-solid fa-circle-info ms-1"></i>
                    </a>
                </label>
                <p>
                </p>
                <textarea class="form-control" id="FormControlTextarea2" name="input-lineage" formControlName="lineage"
                          rows="2"></textarea>
                <alk-form-error [control]="contributionForm" field="lineage"></alk-form-error>
            </div>
            <div class="col-lg-12 mb-3">
                <label class="form-label" i18n="@@mdContrainte">Contraintes légales</label>
                <select class="form-control" aria-label="Default select example"
                        name="contribution-md-contrainte" formControlName="mdContrainte">
                    <option selected [value]="undefined" disabled i18n="@@mdContrainte">Sélectionner une
                        contraintes
                    </option>
                    <ng-container *ngFor="let contrainte of this.mdContrainte">
                        <option [value]="contrainte.value">{{ contrainte.label }}</option>
                    </ng-container>
                </select>
                <alk-form-error [control]="contributionForm" field="mdContrainte"></alk-form-error>
            </div>
            <div class="col-lg-12 mb-3">
                <label class="form-label" i18n="@@themekeyWord">
                    Mots-clés thématiques
                </label>
                <ng-container *ngIf="selectedThemes">
                    <ng-multiselect-dropdown
                        (onSelect)="onThemeSelect()"
                        (onSelectAll)="onThemeSelect($event)"
                        (onDeSelect)="onThemeSelect()"
                        (onDeSelectAll)="onThemeSelect($event)"
                        (onFilterChange)="onFilterChange($event,ThemeEnum.theme)"
                        [settings]="dropdownSettings"
                        [(ngModel)]="selectedThemes"
                        [ngModelOptions]="{standalone: true}"
                        [placeholder]="'Sélectionner'"
                        name="theme-list"
                        [data]="themeKeyWords[ThemeEnum.theme]"
                    >
                    </ng-multiselect-dropdown>
                </ng-container>
                <!-- TODO prévoir erreur custom -->
            </div>
            <div class="col-lg-12 mb-3" i18n="@@localisationKeyWord">
                <label class="form-label">
                    Mots-clés de localisation
                </label>
                <ng-multiselect-dropdown
                    (onSelect)="onPlaceSelect()"
                    (onDeSelect)="onPlaceSelect()"
                    (onFilterChange)="onFilterChange($event,ThemeEnum.place)"
                    [settings]="dropdownSettings"
                    [data]="themeKeyWords[ThemeEnum.place]"
                    [(ngModel)]="selectedPlace"
                    [ngModelOptions]="{standalone: true}"
                    [placeholder]="'Sélectionner'"
                    name="place-list"
                >
                </ng-multiselect-dropdown>
                <!-- TODO prévoir erreur custom -->
            </div>
            <div class="col-lg-12 mb-3">
                <label class="form-label" i18n="@@thematiqueIso">Catégorie ISO</label>
                <select class="form-control" aria-label="Default select example"
                        name="contribution-thematique-ISO" formControlName="thematiqueISO">
                    <option selected [value]="undefined" disabled i18n="@@thematiqueIsoSelection">Sélectionner une
                        catégorie
                    </option>
                    <ng-container *ngFor="let thematique of this.thematiquesIso">
                        <option [value]="thematique.code">{{ thematique.label }}</option>
                    </ng-container>
                </select>
                <alk-form-error [control]="contributionForm" field="thematiqueISO"></alk-form-error>
            </div>
            <div class="col-lg-4 mb-3">
                <label class="form-label" i18n="@@creationDate">Date de création<span class="required">*</span></label>
                <input id="startDate" class="form-control" type="date" pattern="\d{4}-\d{2}-\d{2}"
                       name="input-creation-date"
                       formControlName="createDate" (change)="this.changeDate('createDate', 'createdAt')"/>

                <alk-form-error [control]="contributionForm" field="createDate"></alk-form-error>
            </div>
            <div class="col-lg-4 mb-3">
                <label class="form-label" i18n="@@updateDate">Date de mise à jour<span class="required">*</span></label>
                <input id="updateDate" class="form-control" type="date" pattern="\d{4}-\d{2}-\d{2}"
                       name="input-creation-data"
                       formControlName="updateDate" (change)="this.changeDate('updateDate', 'updatedAt' )"/>

                <alk-form-error [control]="contributionForm" field="updateDate"></alk-form-error>
            </div>
        </form>
        <form class="row g-3" [formGroup]="contributionForm" *ngIf="!this.contribution.isTabular">
            <div class="mb-3 col-lg-4">
                <label class="form-label" i18n="@@informationOptimalDataScale">Echelle optimale d'emploi de la
                    donnée<span class="required">*</span> </label>
                <select class="form-control" name="contribution-scale" aria-label="Default select example"
                        formControlName="equivalentScale">
                    <option selected value="undefined" disabled i18n="@@scaleSelect">Sélectionner une échelle</option>
                    <ng-container *ngFor="let scale of this.geoScale">
                        <option [ngValue]="scale.value">{{ scale.label }}</option>
                    </ng-container>
                </select>
                <alk-form-error [control]="contributionForm" field="equivalentScale"></alk-form-error>
            </div>
            <div class="mb-3 col-lg-4">
                <label class="form-label" i18n="@@updataCycle">Cycle de mise à jour</label>
                <select class="form-control" aria-label="Default select example"
                        name="contribution-geonetwork-status" formControlName="geonetworkStatus">
                    <option selected [value]="undefined" disabled i18n="@@cycleSelection">Sélectionner un cycle</option>
                    <ng-container *ngFor="let cycle of this.updateCycleKey">
                        <option [value]="cycle">{{ this.updateCycle[cycle] }}</option>
                    </ng-container>
                </select>
                <alk-form-error [control]="contributionForm" field="geonetworkStatus"></alk-form-error>
            </div>
            <div class="mb-3 col-lg-4">
                <label class="form-label" i18n="@@mdMaintenance">Fréquence de mise à jour de la ressource</label>
                <select class="form-control" aria-label="Default select example"
                        name="contribution-md-maintenance" formControlName="mdMaintenance">
                    <option selected [value]="undefined" disabled i18n="@@mdMaintenanceSelection">Sélectionner une
                        fréquence
                    </option>
                    <ng-container *ngFor="let frequence of this.mdMaintenance">
                        <option [value]="frequence.code" [attr.label]="frequence.label">{{ frequence.label }}</option>
                    </ng-container>
                </select>
                <alk-form-error [control]="contributionForm" field="thematiqueISO"></alk-form-error>
            </div>
        </form>
        <h2 class="mt-3 text-center brand-separator" i18n="@@contact">Contact</h2>
        <ng-container *ngFor="let contactGroup of this.contactForm.controls; let idx = index; ">
            <ng-container>
                <alk-contact [contactForm]="contactGroup" (removeContact)="removeContact(idx)"
                             [total]="this.contactForm.controls.length">
                </alk-contact>
            </ng-container>
        </ng-container>
        <form class=" row g-3">
            <div class="mb-3 col-lg-4">
                <button type="button" class="btn btn-outline-secondary px-4" i18n="@@addContact"
                        (click)="this.addContact()">
                    Ajouter un contact <i class="fa fa-plus"></i>
                </button>
            </div>
        </form>
    </div>

    <div class="d-flex justify-content-end mt-4">
        <div>
            <button type="button" class="btn btn-outline-brand px-4 me-4" (click)="previousStep()" i18n="@@previuous">
                Précédent
            </button>
        </div>
        <div>
            <button type="button" class="btn btn-brand px-4" (click)="nextStep()" i18n="@@next">Suivant</button>
        </div>
    </div>
</div>
