<div class="container card-custom shadow-sm bg-white mt-4">
  <!-- Stepper  -->
  <ul #nav="ngbNav" [(activeId)]="this.step" [destroyOnHide]="true" class="nav d-flex justify-content-around"
      id="pills-tab" role="tablist" ngbNav>
    <!-- Aperçu des données -->
    <li [ngbNavItem]="this.StepType.DataOverview" role="presentation">
      <a class=" text-center" ngbNavLink i18n="@@dataOverview">
         <span class="badge me-2" [ngClass]="{
          'badge-step': !formError['DataOverview'],
          'badge-step-error': !!formError['DataOverview']
        }">1</span>
        Aperçu des données
      </a>

      <ng-template ngbNavContent>
        <alk-data-overview></alk-data-overview>
      </ng-template>
    </li>

    <!-- Informations générales -->
    <li [ngbNavItem]="this.StepType.GeneralInformation" role="presentation">
      <a class=" text-center" ngbNavLink i18n="@@generalInformation">
         <span class="badge me-2" [ngClass]="{
          'badge-step': !formError['GeneralInformation'],
          'badge-step-error': !!formError['GeneralInformation']
        }">2</span>
        Informations générales
      </a>

      <ng-template ngbNavContent>
        <alk-general-information></alk-general-information>
      </ng-template>
    </li>

    <!-- Modalités de diffusion -->
    <li [ngbNavItem]="this.StepType.DiffusionModality" role="presentation">
      <a class=" text-center" ngbNavLink i18n="@@diffusionModality">
         <span class="badge me-2" [ngClass]="{
          'badge-step': !formError['DiffusionModality'],
          'badge-step-error': !!formError['DiffusionModality']
        }">3</span>
        Modalités de diffusion
      </a>

      <ng-template ngbNavContent>
        <alk-diffusion-modality></alk-diffusion-modality>
      </ng-template>
    </li>

    <!-- Synthèse et validation -->
    <li [ngbNavItem]="this.StepType.SynthesisAndValidation" role="presentation">
      <a class=" text-center" ngbNavLink i18n="@@synthesisAndValidation">
        <span class="badge badge-step me-2">4</span>
        Synthèse et validation
      </a>

      <ng-template ngbNavContent>
        <alk-synthesis-and-validation></alk-synthesis-and-validation>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav"></div>
</div>
