<main class="d-flex h-100 bg-image">
  <div class="container my-4">
    <div class="row align-items-center">
      <div class="col-md-5 col-xl-5 col-xxl-5 py-6 d-flex align-items-center pr-0 pl-0">
        <div class="text-white">
          <h1 i18n="@@homeTitleContributeStepByStep"  >Contribuez "Pas à Pas" en intégrant vos données !</h1>
          <p class="mb-5 mt-5" i18n="@@homeSubTitleWarningMessage" *ngIf="!this.editeMod">
            Vous êtes sur le point de créer une ressource sur la plateforme à partir d'un jeu de données.
            Une partie des informations qui vous seront demandées sera
            pré-remplie à partir des informations de votre jeu de données. </p>
          <p class="mb-5 mt-5" i18n="@@homeSubTitleWarningEditMessage" *ngIf="this.editeMod">
            Vous souhaitez actualiser votre jeu de données et/ou les informations associées. Pour actualiser le jeu de données,
            charger les nouveaux fichiers associés. Le jeu de données sera remplacé et vous pourrez de nouveaux accéder aux informations associées.
            Si vous souhaitez uniquement changer les informations associées, cliquez sur le bouton "Modifier la ressource" </p>
          <div class="text-center">
            <img alt="etape.png" src="/assets/image/etape.png" class="img-fluid mb-4" width="400">
          </div>

        </div>
      </div>
      <div class="col-md-5 col-xl-5 col-xxl-5 mx-end offset-lg-1 pr-0 pl-0">
        <div class="input-rules">
          <ul class="fa-ul">
            <li i18n="@@homeListOneFileUpload">
              <span class="fa-li"><i class="fas fa-angle-right" aria-hidden="true" ></i></span>Vous ne pouvez déposer qu’un seul jeu de données
            </li>
            <li i18n="@@homeListOneVectorielData">
              <span class="fa-li"><i class="fas fa-angle-right" aria-hidden="true" ></i></span>Vous pouvez déposer un jeu de données vectoriels
              (.shp, .mif, .tab, .gxt, .json, .gml, .gmt, .kml, .gpkg) ou
              tabulaires (.csv, .xlsx, .ods)
            </li>
            <li i18n="@@homeListFileSizeMax">
              <span class="fa-li"><i class="fas fa-angle-right" aria-hidden="true" ></i></span>Poids maximal par fichier : 500 Mo
            </li>
          </ul>
        </div>
        <div class="card-body shadow mx-auto">
          <div class="container-file-input" alkDragDropFile (files)="onDrop($event)"   >
            <p class="fs-4 mb-0" i18n="@@homeFileInputDragDropDataset">Glisser / Déposer votre jeu de donnéees ici</p>
            <small i18n="@@homeFileInputExplicationFormat">
              Pour certains formats, il est nécessaire de charger l'ensemble des fichiers associés au format (ex: shapefile - shp, shx, dbf, prj)
            </small>
            <div class="my-3 fs-5">ou</div>
            <div class="mb-3">
              <input class="form-control" type="file" id="formFile" multiple
                     accept=".shp,.mif,.tab,.gxt,.json,.geojson,.kml,.gpkg,.xlsx,.ods,.csv,.cst,.dbf,.prj,.shx,.id,.ind,.map,.dat" (change)="handleFileInput($event)">
              <ul class="list-group">
                <ng-container *ngFor="let filename of fileLoading | keyvalue">
                  <li class="list-group-item d-flex justify-content-between align-items-center ">
                    {{ filename.key }}
                    <div>
                    <span class="badge badge-light badge-pill">
                      <ng-container [ngSwitch]="filename.value">
                        <ng-container *ngSwitchCase="'loading'">
                          <i class="fas fa-circle-notch fa-spin upload-icon icon-color-loading" aria-hidden="true"></i>
                        </ng-container>
                        <ng-container *ngSwitchCase="'success'">
                          <i class="fas fa-check upload-icon icon-color-succes" aria-hidden="true"></i>
                        </ng-container>
                        <ng-container *ngSwitchCase="'error'">
                          <i class="fas fa-times upload-icon icon-color-error" aria-hidden="true"></i>
                        </ng-container>
                      </ng-container>
                    </span>
                    <ng-container *ngIf="filename.value === 'success' || filename.value === 'error'">
                      <button type="button" class="btn btn-outline-brand btn-sm button-delete-size ml-1 " [disabled]="this.deleteLoading"
                              (click)="this.removeFile(filename.key)" >
                        <i class="fas upload-icon fa-trash icon-color-error" aria-hidden="true"></i>
                      </button>

                    </ng-container>
                    </div>
                  </li>
                </ng-container>
              </ul>
            </div>
          </div>
          <div class="d-grid">

            <button class="btn btn-outline-brand btn-lg my-3 px-5"
                    [disabled]="(!this.fileTransfertChecked || !this.transfertEnding)"
                    (click)="finalizeTransfert()" role="button">
              <ng-container *ngIf="!this.editeMod" i18n="ToStartUp">
                Démarrer
              </ng-container>
              <ng-container *ngIf="this.editeMod" i18n="ToStartUp">
                Actualiser les données
              </ng-container>
              <ng-container *ngIf="this.finalizeLoading" >
                  <i class="fas fa-circle-notch fa-spin upload-icon icon-color-loading" aria-hidden="true"></i>
              </ng-container>
            </button>
            <button class="btn btn-brand btn-lg my-3 px-5" *ngIf="editeMod"
                    (click)="editResource()" role="button" i18n="@@editResource">
              Modifier la ressource
            </button>


          </div>
        </div>
      </div>

    </div>
  </div>
</main>
