<header class="mb-auto">
  <nav class="navbar nav-color">
    <div class="container-fluid">
      <div class="d-flex justify-content-start">
        <button class="nav-link btn btn-light  " (click)="this.gotToGeonetwork()" i18n="@@toContribute">
          <i class="fa fa-fw fa-pencil-alt hidden-xs"></i>Contribuer
        </button>
      </div>
      <div class="d-flex justify-content-end align-items justify-content">
        <div class="align-self-center p-1 bd-highlight" *ngIf="this.user">
          <strong >{{this.user.firstName}} {{this.user.name}}</strong>
        </div>
        <div class="bd-highlight">
          <button class="btn btn-outline-secondary btn-sm" (click)="this.loggout()" i18n="@@logout">
            <i class="fa fa-solid fa-power-off"></i>
            Déconnexion
          </button>
        </div>
      </div>
    </div>
  </nav>
</header>

