<div class="list-group" *ngIf="this.treeInnerNode.length" >
  <ng-container *ngFor="let node of this.treeInnerNode">
    <div  class="list-group-item" >
      <div style="width: 100%" (click)="openChildren(node)">
        <ng-container  *ngIf="node.children.length">
          <i [ngClass]="node.expanded ? 'fa fa-caret-down' : 'fa fa-caret-right'" ></i>
        </ng-container>
        {{node.name}}
      </div>
      <div *ngIf="node.expanded">
        <alk-tree-view [tree]="node.children" ></alk-tree-view>
      </div>
    </div>
  </ng-container>
</div>
<div class="pl-3 mt-1" *ngIf="treeLeaf">
  <ng-container *ngFor="let node of this.treeLeaf">
    <div class="form-check " >
      <input class="form-check-input" type="checkbox"  >
      <label class="form-check-label" >
         {{node.name}}
      </label>
    </div>
  </ng-container>
</div>

